<form class="checkoutForm" (ngSubmit)="onSubmit()" #form="ngForm">
  <div *ngIf="client; else clientNotFound">
    <h2 class="checkoutForm-title">
      Клиент {{ client.name }} вносит оплату
    </h2>
    <input
      type="text"
      name="deposit-model"
      class="checkoutForm-amountInput"
      [(ngModel)]="depositModel"
    >
    <span class="checkoutForm-hint">
      Внимание! Внесенная сумма распределяется между неоплаченными услугами пропорционально долгу
    </span>
    <button type="submit" class="checkoutForm-submitButton">
      Оплатить
    </button>
  </div>
  <ng-template #clientNotFound>
    <h2 class="checkoutForm-title">
      Клиент не найден
    </h2>
  </ng-template>
</form>
