<section class="clientsList">
  <h2 class="clientsList-title">
    {{ title }}
  </h2>
  <ul class="clientsList-list">
    <li *ngFor="let client of clients" class="clientsList-item clientItem">
      <h4 class="clientItem-title">
        {{ client.name }}
      </h4>
      <div class="clientItem-table">
        <app-services-table
          [services]="getServicesProvidedToClient(client.id)"
        ></app-services-table>
      </div>
      <button
        type="button"
        class="clientItem-button makePaymentButton"
        (click)="onOpenPaymentWindow(client.id)"
        uk-toggle="target: #make-payment-modal"
      >
        Внести оплату
      </button>
    </li>
  </ul>
</section>
<div id="make-payment-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button type="button" class="uk-modal-close-default" uk-close></button>
    <app-checkout-form
      [client]="selectedClient"
      (submitted)="onSubmitPayment($event)"
    ></app-checkout-form>
  </div>
</div>
